<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Primary Meta Tags -->
<title>Velammal Library</title>
<meta name="title" content="Velammal Lib">
<meta name="description" content="This website is created by Lavan and Venkat team ,come and explore you can do lots and more stuff.">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://vec-cse-lib.lavan.net.in/">
<meta property="og:title" content="Velammal CSE Dept Lib">
<meta property="og:description" content="This website is created by Lavan and Venkat team ,come and explore you can do lots and more stuff.">
<meta property="og:image" content="https://raw.githubusercontent.com/VEC-CSE/init-fronend/main/img/logo.jpg">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://vec-cse-lib.lavan.net.in/">
<meta property="twitter:title" content="Velammal CSE Dept Lib">
<meta property="twitter:description" content="This website is created by Lavan and Venkat team ,come and explore you can do lots and more stuff.">
<meta property="twitter:image" content="https://raw.githubusercontent.com/VEC-CSE/init-fronend/main/img/logo.jpg">

    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,500&display=swap" rel="stylesheet">
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://vec-cse.github.io/init-fronend/css/style.css">
<script type="text/javascript">
    (function(c,l,a,r,i,t,y){
        c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
        t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
        y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
    })(window, document, "clarity", "script", "eiz3mun5pu");
</script>
<link rel="apple-touch-icon" sizes="180x180" href="https://github.com/VEC-CSE/department_lib_frend/raw/main/favicon_io/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="https://github.com/VEC-CSE/department_lib_frend/raw/main/favicon_io/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="https://github.com/VEC-CSE/department_lib_frend/raw/main/favicon_io/favicon-16x16.png">
<link rel="manifest" href="https://github.com/VEC-CSE/department_lib_frend/raw/main/favicon_io/site.webmanifest">

<style>  


/* CSS */
.button-63 {
  align-items: center;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 19px 24px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

.button-63:active,
.button-63:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .button-63 {
    font-size: 24px;
    min-width: 196px;
  }
}



/* CSS */
.button-75 {
  align-items: center;
  background-image: linear-gradient(135deg, #f34079 40%, #fc894d);
  border: 0;
  border-radius: 10px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-family: "Codec cold",sans-serif;
  font-size: 16px;
  font-weight: 700;
  height: 54px;
  justify-content: center;
  letter-spacing: .4px;
  line-height: 1;
  max-width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 3px;
  text-decoration: none;
  text-transform: uppercase;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-75:active {
  outline: 0;
}

.button-75:hover {
  outline: 0;
}

.button-75 span {
  transition: all 200ms;
}

.button-75:hover span {
  transform: scale(.9);
  opacity: .75;
}

@media screen and (max-width: 991px) {
  .button-75 {
    font-size: 15px;
    height: 50px;
  }

  .button-75 span {
    line-height: 50px;
  }
}



/* CSS */
.button-74 {
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-74:hover {
  background-color: #fff;
}

.button-74:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .button-74 {
    min-width: 120px;
    padding: 0 25px;
  }
}



/* CSS */
.button-89 {
  --b: 3px;   /* border thickness */
  --s: .45em; /* size of the corner */
  --color: #373B44;
  
  padding: calc(.5em + var(--s)) calc(.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: .6em;
  font-size: 16px;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-89:hover,
.button-89:focus-visible{
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em;
}

.button-89:active {
  background: var(--color);
  color: #fff;
}
</style>  
</head>
<body class="imgfp">
    
        




      <div class="card mb-3 fontgoogle" style="max-width: 540px;margin-left: auto;margin-right: auto; margin-top: 50px;">
        <div class="row g-0">
          <div class="col-md-4"  style="margin-top: auto;margin-bottom: auto;">
            <img src="https://vec-cse.github.io/init-fronend/img/logo.jpg" class="img-fluid  rounded-circle" alt="logo" >
          </div>
          <div class="col-md-8">
            <form action="/auth/login" method="post">
            <div class="card-body">
              <h5 class="card-title fontgoogle"><b>Welcome to VEC Digi Library </b></h5>
              <p class="card-text fontgoogle">Come and explore our website it has lots of interesting stuff to do.</p>
              <br>
              

              
             
              
             
              <br>
              {{#if msg}}
      <p style="color:red;" class="{{msg_type}} alert alert-danger" role="alert">{{msg}}</p>
      {{/if}}
              <h5 class="fontgoogle"><b>Login details:</b></h5>
              <div class="form-floating mb-3">
                
{{!--                   
                <input type="text" class="form-control "  name="name" id="floatingInput" placeholder="Name" required>
               <label for="floatingInput">Name</label> --}}
               <br>
   <div class="form-floating">       
  <input type="email" class="form-control fontgoogle" name="email" id="floatingInput" placeholder="name@example.com" required>
  <label for="floatingInput">Email address</label>
</div>
<br>
<div class="form-floating">
  <input type="password" class="form-control fontgoogle" name="password" id="floatingPassword" placeholder="Password" required>
  <label for="floatingPassword">Password</label>
</div>
<br>
<button type="submit" class="button-74" role="button">Sign in</button>

<a  class="button-74" role="button" href="/register" >Register</a>   
<br>

<br>
<!-- <button type="submit" class="btn btn-primary fontgoogle" style="margin-left:10px;">Register</button> -->
<br>
<br>

<a  class="button-89" role="button" href="https://vec-cse-lib.lavan.net.in/forgot" target="">Forgot password</a>            
</form>
</div>
          </div>
        </div>
      </div>
      
</body>









<!-- Below is the link that users can use to open Preferences Center to change their preferences. Do not modify the ID parameter. Place it where appropriate, style it as needed. -->



</html>
